<div class="browse-page">
    <app-header></app-header>
    <div class="banner">
        <img src="" class="banner-img" alt="">
        <div>
            <h4>Movie title</h4>
            <p>Movie description</p>
            <div>
                <button>More Info</button>
            </div>
        </div>
    </div>
    <div class="movie-categories">
        <div class="movies">
            <div class="movie-card">
                <img src="" alt="movie image">
                <h4>title</h4>
                <p>movie description</p>
            </div>
        </div>
    </div>
</div>