<div class="h-screen" id="header">
    <div class="header">
        <img src="../../../assets/pngwing.com.png" alt="logo" class="w-32">
    </div>
    <div class="login-container">
        <div class="login-card">
            <h2 class="heading">Sign In</h2>
            <div class="form-field">
                <input type="text" class="input" placeholder="Email or phone number">
            </div>
            <div class="form-field">
                <input type="password" class="input" placeholder="Password">
            </div>
            <div class="action-field">
                <button class="login-btn">Sign in</button>
            </div>
        </div>

    </div>
</div>